@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500,700);

body {
	font-family: 'Source Sans Pro', sans-sefif;
	font-weight: 400;
	margin: 0px;
	padding: 0px;
}

p { 
	font-family: 'Source Sans Pro', sans-sefif;
	font-weight: 400;
	font-size: 16px;
	display: inline;
	padding: 0px;
	margin: 0px;
}

ul {
	padding: 0px;
	margin: 0px;
}

li {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

h1 {
	font-family: 'Source Sans Pro', sans-sefif;
	font-weight: 400;
	font-size: 30px;
	padding: 25px 0px 25px 0px;
	margin: 0px 0px 0px 0px;
	color: #FFFFFF;
}

h2 {
	font-family: 'Source Sans Pro', sans-sefif;
	font-weight: 700;
	font-size: 25px;
	padding: 10px 0px 15px 0px;
	margin: 0px;
}

h3 {
	font-family: 'Source Sans Pro', sans-sefif;
	font-weight: 700;
	font-size: 45px;
	padding: 25px 0px 25px 0px;
	margin: 0px 0px 0px 0px;
	color: #FFFFFF;
}

h4 {
	font-family: 'Source Sans Pro', sans-sefif;
	font-weight: 300;
	font-size: 25px;
	padding: 10px 0px 15px 0px;
	margin: 0px;
}


.contentcontainer {
	margin: 0px auto;
	padding: 0px;
	width: 75%;
}

.titlebox {
	width: 100%;
	background-color: #B0B9CA;
}

.cell {
	padding: 40px 0px 40px 0px;
	margin: 0px 0px 0px 25%;
	display: inline-block;
	vertical-align: top;
}

.topbanner {
	width: 100%;
	background-color: #287DB5;
	text-align: center;
}

.coverphoto {
	height: 20px;
	width: 20px;
	display: block;
	float: left;
}

.winners {
	background-color: #565656;
	padding:10px 40px;
	text-align:center;
	width:100%;
}
li {
	margin:5px 5px;
	padding:5px 10px 5px 175px;
	position:relative;
}
li.winning {
	background-color: #ebedf1;
}
.winners .person {
	position:relative;
	display:inline-block;
	width:14%;
}
.winners .person .name {
	position:absolute;
	bottom:-5px;
	background-color:pink;
	font-size:12pt;
	color:white;
	width:100%;
	background-color:#565656;
	padding:1px 0px;
}
.winners .person img {
	width:100%;
}
.candidate img {
	position:absolute;
	width:150px;
	left:5px;
	top:5px;
}